div.box{width: 100%;margin-bottom: 60px;}
div.box div.pic{padding-top: 60px;width: 100%;}
div.box div.pic img{width: 100%;height: 225px;}
div.box div.goodsList{width: 100%;}
div.box div.goodsList ul{width: 100%;}
div.box div.goodsList ul li.button{width: 100%;height: 100px;box-sizing: border-box;padding: 5px;position: relative;}
div.box div.goodsList ul li.button a.master{height: 100%;width: 125px;float: left;}
div.box div.goodsList ul li.button a.master img{height: 100%;width: 95%;}
div.box div.goodsList ul li.button p{font-size: 0.7rem;}
div.box div.goodsList ul li.button div.cost{width: 32%;height: 55%;position: absolute;left: 31%;top: 45%;}
div.box div.goodsList ul li.button div.cost .span1{font-size: 1.1rem;color: mediumvioletred;float: left;padding: 2% 0 0 0;}
div.box div.goodsList ul li.button div.cost .p1{font-size: 0.8rem;color: gainsboro;text-decoration: line-through;float: right;margin: 7%;}
div.box div.goodsList ul li.button div.cost .p2{font-size: 0.6rem;position: absolute ;left: 0%; bottom:2% ;}
div.box div.goodsList ul li.button div.contentCart{position: absolute;right: 8%;top: 66%;background:rgb(223,40,97) ;padding: 5px 15px 2px 15px;border-radius: 7px;}
div.box div.goodsList ul li.button div.cartClick{height: 100%;width: 100%;}
div.box div.goodsList ul li.button div.cart{height: 13px;}

